{% extends 'global/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} text-center h2"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="indexContainer" class="container shadow-lg mt-5 pb-3">
    <h2 class="text-center p-3"><b>Add</b> a Contact</h2>
<form action="{{ form_action }}" method="POST" enctype="multipart/form-data" class="w-50 mx-auto">
    {% csrf_token %}

        {% bootstrap_form form %}
        {% bootstrap_label content="" label_class="h3 text-center" %}
        {% bootstrap_button button_type="submit" content="OK" %}
        {% bootstrap_button button_type="reset" content="Cancel" %}
       
    </form>
    </div>

{% endblock %}